@model SecurityAccessModel
@{
    ViewData["Title"] = "Segurança de Acesso";
}

<h2>Detalhes</h2>
<script defer src="~/js/securityaccess.js"></script>

<div class="container-fluid">
    <form asp-action="Detalhes" method="post">
        <input type="hidden" asp-for="Detalhe.ID" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Detalhe.ID" class="control-label"></label>
                    <input asp-for="Detalhe.ID" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label asp-for="Detalhe.Sigla" class="control-label"></label>
                        <input asp-for="Detalhe.Sigla" class="form-control" required />
                        <span asp-validation-for="Detalhe.Sigla" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="Detalhe.RaasID" class="control-label"></label>
                        <input asp-for="Detalhe.RaasID" class="form-control" required />
                        <span asp-validation-for="Detalhe.RaasID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label asp-for="Detalhe.STSClientId" class="control-label"></label>
                        <input asp-for="Detalhe.STSClientId" class="form-control" required />
                        <span asp-validation-for="Detalhe.STSClientId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label asp-for="Detalhe.Method" class="control-label"></label>
                        <input asp-for="Detalhe.Method" class="form-control" required />
                        <span asp-validation-for="Detalhe.Method" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Detalhe.Endpoint" class="control-label"></label>
                        <input asp-for="Detalhe.Endpoint" class="form-control" required />
                        <span asp-validation-for="Detalhe.Endpoint" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-undo"></i>Voltar</a>
                        <button type="submit" class="btn btn-warning">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

