@model SecurityAccessModel
@{
    ViewData["Title"] = "Security Access";
}
<script defer src="~/js/Incidente.js"></script>
<div class="card border-primary">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <div class="row">
            @*<div class="col-sm-1" >
                <div class="form-group">
                    <label asp-for="Filtro.Id" class="control-label"></label>
                    <input asp-for="Filtro.Id" type="text" class="form-control" />
                </div>
            </div>*@
            <div class="col-sm-1">
                <div class="form-group">
                    <label asp-for="Filtro.RaasId" class="control-label"></label>
                    <input asp-for="Filtro.RaasId" class="form-control" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.ClientId" class="control-label"></label>
                    <input asp-for="Filtro.ClientId" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Filtro.EndPoint" class="control-label"></label>
                    <input asp-for="Filtro.EndPoint" class="form-control" />
                </div>
            </div>
            <div class="col">
                @*@if (SharedValues.UsuarioLogado != null && SharedValues.UsuarioLogado.PerfilUsuario == PUCMinasTCC.Domain.Enums.enumPerfilUsuario.Administrador)
                {*@
                    <a asp-action="Detalhes" class="btn btn-success"><i class="fas fa-plus"></i>Adicionar</a>
                @*}
                else
                {
                    <a asp-action="Detalhes" class="btn btn-success disabled"><i class="fas fa-plus"></i>Adicionar</a>

                }*@
                <button type="button" class="btn btn-warning" onclick="Pesquisar('@Url.Action("Pesquisar")')"><i class="fas fa-search"></i> Pesquisar</button>
            </div>
        </div>
    </div>
</div>
<div id="gridItems">
    <partial name="_ListaItens" model="Model.Itens" />
</div>

