@model SecurityAccessModel
@{
    ViewData["Title"] = "Security Access";
}
<script defer src="~/js/securityaccess.js"></script>
<div class="card border-primary">
    <br />
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.RaasID" class="control-label"></label>
                    <input asp-for="Filtro.RaasID" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Filtro.STSClientId" class="control-label"></label>
                    <input asp-for="Filtro.STSClientId" class="form-control" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.Endpoint" class="control-label"></label>
                    <input asp-for="Filtro.Endpoint" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" >
                <a asp-action="Detalhes" class="btn btn-success"><i class="fas fa-plus"></i>Adicionar</a>

            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-warning" onclick="Pesquisar('@Url.Action("Pesquisar")')"><i class="fas fa-search"></i> Pesquisar</button>
            </div>
           
        </div>
    </div>
</div>
<div id="gridItems">
    <partial name="_ListaItens" model="Model.Itens" />
</div>

